@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");

.page-card {
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.page-card p {
  margin-top: 0;
  text-align: left;
  font-size: 0.7rem;
  margin: 0;
}
.movie_card {
  position: relative;
  display: block;
  width: 35vw;
  height: 30vh;
  margin: 2.5vh auto;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
}
.movie_card .info_section {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
}
.movie_card .info_section .movie_header {
  position: relative;
  padding: 0.5em;
  height: 40%;
}
.movie_card .info_section .movie_header h1 {
  color: #fff;
  font-weight: 400;
  text-align: left;
  padding: 0;
  font-family: "Montserrat", helvetica, arial, sans-serif;
}
.movie_card .info_section .movie_header h4 {
  color: #9ac7fa;
  font-weight: 400;
  text-align: left;
  padding: 0;
  font-family: "Montserrat", helvetica, arial, sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
}
.movie_card .info_section .movie_header .minutes {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.13);
  font-size: 0.5rem;
}
.movie_card .info_section .movie_header .type {
  display: inline-block;
  color: #cee4fd;
  margin-top: 15px;
  margin-left: 2px;
}
.movie_card .info_section .movie_header .locandina {
  position: relative;
  float: left;
  margin-right: 20px;
  height: 120px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}
.movie_card .info_section .movie_desc {
  padding: 0.7em;
  height: 10vh;
  margin-top: 10px;
}
.movie_card .info_section .movie_desc .text {
  color: #cfd6e1;
  font-size: 0.7rem;
}
.movie_card .info_section .movie_social {
  height: 2vh;
}
.movie_card .info_section .movie_social ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.movie_card .info_section .movie_social ul li {
  display: inline-block;
  color: rgba(255, 255, 255, 0.4);
  transition: color 0.3s;
  transition-delay: 0.15s;
  margin: 0 10px;
}
.movie_card .info_section .movie_social ul li:hover {
  transition: color 0.3s;
  color: rgba(255, 255, 255, 0.8);
}
.movie_card .info_section .movie_social ul li i {
  font-size: 19px;
  cursor: pointer;
}
.movie_card .blur_back {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  right: 0;
  background-size: cover;
  border-radius: 11px;
}
.ave_back {
  background: url("https://www.gannett-cdn.com/-mm-/c03fd140debe8ad4c05cf81a5cad7ad61a12ce52/c=0-1580-2985-3266&r=x803&c=1600x800/local/-/media/2017/06/09/USATODAY/USATODAY/636326272873599176-Black-Panther-Teaser.jpg");
}
