.topbar{
	width: 20vw;
	grid-template-rows: auto auto;
	grid-template-columns: 20vw;
}
.topbar .img{
	margin: auto;
}
.topbar .movname{
	display: grid;
	grid-gap: 20px;
	padding: 20px;
}

.topbar .movname .rating{
	grid-template-columns: 6vw 6vw 6vw;
}

.topbar .movname .btn{
	max-width: 20vw;
}
.watch{
	width: 55vw;
	backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 15px 0;
}
.watch h1{
	padding: 15px;
}
.watch iframe{
	width: 100%;
	height: 56vh;
	padding: 15px 0;
}