.search-container {
  text-align: center;
  margin-top: 10px;
}
input[type="text"] {
  padding: 10px;
  font-size: 17px;
  width: 70vw;
  border-color: #03e9f4;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: black;
  color: #03e9f4;
  box-shadow: 0px 2px 3px rgba(255, 255, 255, 1);
}

.search-container button {
  padding: 10px 10px;
  font-size: 17px;
  background-color: black;
  cursor: pointer;
  border-radius: 5px;
  color: #03e9f4;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-color: #03e9f4;
  box-shadow: 0px 3px 5px rgba(255, 255, 255, 1);
}

.search-container button:hover {
  color: black;
  border: none;
  background-color: #03e9f4;
  box-shadow: 0 0 1.25px #03e9f4, 0 0 6.25px #03e9f4, 0 0 12.5px #03e9f4,
    0 0 25px #03e9f4;
  transition-delay: 0.1s;
}
