.main{
	width: 75vw;
	/*background-color: yellow;*/
	min-height: 70vh;
	display: grid;
	grid-template-columns: 55vw 20vw;
	grid-gap: 20px;
	margin: 15px auto;
}
.left{
	width: 55vw;
	min-height: 65vh;
	/*background-color: brown;*/
	display: grid;
	grid-gap: 20px;
	/*padding: 1.5vw;*/
}
.topbar{
	display: grid;
	grid-template-columns: 20vw 27vw;
	padding: 20px 0;
	backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.topbar .img{
	margin: auto;
}
.topbar .movname{
	display: grid;
	grid-gap: 20px;
}
.topbar .movname .name{
	font-size: 50px;
	font-weight: 700;
	/*margin: -40px 0;*/
	/*background-color: black;*/
}
.topbar .movname .small_detail{
	/*background-color: white;*/
	font-size: 15px;
	font-family: cursive;
	/*margin: -30px 0 0;*/
}
.topbar .movname .rating{
	display: grid;
	grid-template-columns: 9vw 9vw 9vw;
	text-align: center;
	font-size: 15px;
	font-family: cursive;
}
.topbar .movname .rating img{
	border-radius: 50%;
	height: 45px;
	width: 45px;
}
.topbar .movname .btn{
	font-size: 30px;
	max-width: 27vw;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	justify-content: space-evenly;
	grid-gap: 40px;
}
.topbar .movname .btn a i{
	border-radius: 50%;
	padding: 15px;
	backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: white;
	text-decoration: none;
}
.topbar .movname .btn a i:hover{
	backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(209, 213, 219, 0.3);
    color: black;
}
.descri{
	backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 15px;
}
.comments{
	backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 15px;
}
.similarmov{
	backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 20px;
}
.similar{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 40px;
	justify-content: space-evenly;
	color: black;
	margin-bottom: 30px;
}
.similarmov .seemore{
	width: 100%;
	text-align: center;
}
.similarmov .seemore a{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
	color: white;
	text-align: center;
	backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.similarmov .seemore a:hover{
	backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    color: black;
}
.right{
	width: 20vw;
	/*min-height: 65vh;*/
	display: grid;
	height: fit-content;
	grid-row-gap: 20px;
}
.right .cate{
	backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 15px;
    width: 20vw;
    height: fit-content;
    /*display: grid;*/
}
.right .cate ul{
	padding: 20px;
	font-size: 15px;
	margin: 0;
}
.right .cate ul li{
	padding: 10px;
}
.right .cate ul li a{
	text-decoration: none;
	color: white;

}
.right .trendnow{
	backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 15px;
    width: 20vw;
    /*display: grid;*/
}
.right .trendnow ol{
	padding: 20px;
	font-size: 15px;
	margin: 0;
}
.right .trendnow ol li{
	padding: 10px;
}