.swiper {
  z-index: 1;
  overflow: hidden;
}
.swiper-container_1 {
  width: 100vw;
  padding-top: 50px;
  padding-bottom: 100px;
}

.swiper-slide_1 {
  background-position: top;
  background-size: cover;
  width: 800px;
  height: 400px;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0006);
}
.swiper_2 {
  z-index: 1;
  display: grid;
  justify-content: center;
}
.swiper-container_2 {
  width: 27vw;
  height: 29vh;
}

.swiper-slide_2 {

  border-radius: 10px;
}
