.top1,.top2,.top3,.bottom1,.bottom2,.bottom3{
  background-size: 31vw 45vh;
  background-image: url('../images/tv1.png');
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-rows: 16vh 40vh;
}
.best_mov_card {
  display: grid;
  grid-template-columns: 22vw 5vw;
  grid-template-rows: 26vh;
}
.img{
  width: 22vw;
  height: 26vh;
  overflow: hidden;
  border-radius: 35px;
}
.img img{
  width: 22vw;
  height: 26vh;
}

.button {
  display: grid;
  grid-template-rows:7vh 6vh 6vh 7vh;
  z-index: 1;
}
.button a {
  padding: 0 31px ;
  color: #000000;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
  z-index: 99999999999999999;
  width: fit-content;
}
.button a i {
  font-size: 60px;
}
.button a i:hover {
  color: #fff;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
  transition-delay: 0.1s;
}