* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: black;
}
.partition {
  width: 100vw;
  height: 100vh;
  background-color: black;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
}
section {
  width: 100vw;
  height: 100vh;
  border: none;
  outline: none;
  scroll-snap-align: start;
}
section:nth-of-type(1) {
  background-image: url("../images/4.png");
  background-position: center;
  background-repeat: no-repeat;
/*  background-color: #000;
*//*  background: -webkit-linear-gradient(to bottom, #000000, #434343, #ffffff);
  background: linear-gradient(to bottom, #000000, #434343, #ffffff);*/
}
section:nth-of-type(2) {
  background-image: url("../images/3.png");
  background-position: center;
  background-repeat: no-repeat;
  /*background: #000000;
  background: -webkit-linear-gradient(to bottom, #ffffff, #e6dada, #fbd786);
  background: linear-gradient(to bottom, #ffffff, #e6dada, #fbd786);*/
}

section:nth-of-type(3) {
  background-image: url("../images/1.png");
  background-position: center;
  background-repeat: no-repeat;
/*  background: #000;
  background: -webkit-linear-gradient(to bottom, #fbd786, #c6ffdd, #274046);
  background: linear-gradient(to bottom, #fbd786, #c6ffdd, #274046);*/
}
section:nth-of-type(4) {
/*  background: #000;
  background: -webkit-linear-gradient(to bottom, #274046, #e6dada);
  background: linear-gradient(to bottom, #274046, #e6dada);*/
  background-image: url("../images/2.png");
  background-position: center;
  background-repeat: no-repeat;
}
section:nth-of-type(5) {
  min-height: 10vh;
  max-height: 30vh;
}
h1 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

.top_cat {
  text-align: center;
}
.top_cat a {
  margin-top: 10px;
  border-radius: 50%;
  color: black;
}
.top_cat a i {
  font-size: 50px;
  padding: 10px 50px;
  letter-spacing: 2px;
}
.top_cat a i:hover {
  color: #fff;
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
  transition-delay: 0.1s;
}

.grid-container-3 {
  display: grid;
  grid-template-rows: 60vh 15vh 20vh;
}
.grid-container {
  display: grid;
  grid-template-columns: 33vw 33vw 33vw;
  grid-template-rows: 45vh 45vh;
}

.grid-container > div {
  text-align: center;
}
.grid-container h1 {
  padding: 0.5em 0;
  color: #000000;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 7vh 90vh;
}
.grid-wrapper h1 {
  padding: 0.5em 0;
  color: #000000;
}

.grid-container_2 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 40vh 40vh;
  grid-gap: 5vh;
  padding: 10px;
  place-items: center;
}

.grid-container_2 > div {
  text-align: center;
  justify-content: center;
  place-items: center;
}

.navbar {
  grid-template-columns: 70vw 30vw;
}