
.right-cards{
  float: right;
  width: 25vw;
  margin: 0.5rem;
}
sh2{
  color: white;
}
.card {
    height: 40vh;
    margin-top: 3vh;
    background: #33353d;
    border: 2px solid #444750;
    box-shadow: 0px 4px 7px rgba(255,255, 255, 0.5);
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    overflow: hidden;
    position: relative;
    border-radius: 5px;
  }
  .card img {
    width: 100%;
    height: 100%;
    transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  }
  .descriptions {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
    transition: all 0.7s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
    clip-path: circle(0% at 100% 100%);
  }
  .card:hover .descriptions {
    left: 0px;
    transition: all 0.7s ease-in-out;
    clip-path: circle(75%);
  }
  .card:hover {
    transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    box-shadow: 0px 2px 3px rgba(255, 255, 255, 0.3);
    transform: scale(0.97);
  }
  .card:hover img {
    transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    transform: scale(1.6) rotate(20deg);
    filter: blur(3px);
  }
  .card h1 {
    color: #ff3838;
    letter-spacing: 1px;
    margin: 0px;
    text-align: center;
  }
  .card p {
    line-height: 24px;
    height: 50%;
    overflow: hidden;
  }
  .card .buttons2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    gap: 5px;
    text-align: center;
  }
  .card .buttons2 button {
    width: auto;
    height: 40px;
    cursor: pointer;
    border-style: none;
    background-color: #ff3838;
    color: #fff;
    font-size: 1rem;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 2px 3px rgba(255, 255, 255, 0.4);
    transition: all 0.5s ease-in-out;
  }
  .card .buttons2 button:hover {
    transform: scale(0.95) translateX(-5px);
    transition: all 0.5s ease-in-out;
  }
  .card .buttons {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 5px;
    text-align: center;
    margin-top: 1em;
  }
  .card a {
    width: auto;
    height: 40px;
    cursor: pointer;
    background-color: #ff3838;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 0px 2px 3px rgba(255, 255, 255, 0.4);
    transition: all 0.5s ease-in-out;
    padding: 10px;
  }
  .card a:hover {
    transform: scale(0.95) translateX(-5px);
    transition: all 0.5s ease-in-out;
  }