* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: black;
}
::-webkit-scrollbar {
  display: none;
}
.divider-grid {
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow-y: scroll;
}
section {
  height: auto;
  border: none;
  outline: none;
  scroll-snap-align: start;
}
section:nth-of-type(1) {
  background-color: black;
  /*color: white;*/
  min-height: 65vh;
}
section:nth-of-type(2) {
  /*min-height: 10vh;*/
  height: 30vh;
}
.grid_container {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: auto auto auto;
}
.right_card_side {
  margin: 45px 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  row-gap: 20px;
}
.container1 {
  margin: 0 auto;
  /*padding:0 2vw ;*/
  width: 100vw;
  position: fixed; 
  z-index: 99;
  background-color: black;
}
.accordion1{
  display: grid;
  grid-template-columns:20vw 20vw 20vw 20vw 20vw;
}
.accordion1 .accordion1-item {
  padding: 15px;
  text-align: center;
    border-left: 1px solid rgba(255, 255, 255, 0.125);
    border-right: 1px solid rgba(255, 255, 255, 0.125);
    color: white;
    font-family: 'Inconsolata', monospace;
    background-color: #121213;
}
.accordion1 .accordion1-item a{
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  width: 100%;
  height: 100%;
}
.accordion1 .accordion1-item a:hover{
  color: #03e9f4;
  text-shadow: 0 0 1px #03e9f4, 0 0 2.5px #03e9f4, 0 0 5px #03e9f4,
    0 0 10px #03e9f4;
  font-size: 1.4rem;
}

.main{
  width: 65vw;
  /*background-color: yellow;*/
  min-height: 70vh;
  display: grid;
  grid-template-columns: 65vw;
  grid-gap: 20px;
  margin: 15px auto;
}
.main h1{
  font-family: 'Inconsolata', monospace;
  color: white;
}
.profile{
  backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 20px 0;
    display: grid;
    grid-template-columns: 25vw 40vw;
}
.profile .dp{
  max-width: 25vw;
  margin:20px auto 0;
  display: grid;
  grid-template-columns: auto;
}
.profile .dp img{
  border-radius: 50%;
  /*background-color: brown;*/
}
.profile .dp .dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  /*cursor: pointer;*/
  border-radius: 50% ;
  transform: translateY(-130px);
}
.profile .dp .dropbtn i{
  font-size: 1.6rem;
}

.profile .dp .dropbtn:hover, .profile .dp .dropbtn:focus {
  background-color: #2980B9;
}

.dropavatar {
  position: relative;
  /*display: inline-block;*/
  margin: auto;
}

.dropavatar-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
    transform: translateY(-130px);
    padding: 4px;
    border-radius: 10px;
    margin-left: -90px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.dropavatar-content img {
  /*color: black;*/
  padding: 2px;
  /*text-decoration: none;*/
  display: block;
  width: 55px;
  height: 55px;
}

.dropavatar img:hover {
  width: 50px;
  height: 50px;
}

.show {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2px;
}

.profile .detail{
  /*background-color: yellowgreen;*/
  max-width: 35vw;
  color: white;
}

.profile .detail ul li {
  list-style-type: none;
  width: 35vw;
}
.profile .detail ul li i{
  font-size: 2rem;
  padding: 1px 25px 1px 5px;
}
.detail ul li p{
  font-size: 1.4rem;
  font-family: 'Inconsolata', monospace;
}
.detail ul li button{
  padding: 12px 16px;
  font-size: 1.2rem;
  float: right;
  font-family: 'Inconsolata', monospace;
  color: white;
  backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.detail ul li button:hover{
  backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    color: black;
}
.detail ul li button:nth-of-type(1){
  float: left;
}
.mov{
  backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 20px;
    /*margin: 0;*/
}
.mov h1{
  margin: 0;
}
.similar{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 40px;
  justify-content: space-evenly;
  color: black;
  margin-bottom: 30px;
}
.mov .seemore{
  width: 100%;
  text-align: center;
}
.mov .seemore a{
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  color: white;
  text-align: center;
  backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.mov .seemore a:hover{
  backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    color: black;
}



